<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Insert title here</title>
</head>
<body>
	<section>
	<div class="container p-5 mt-5">
	<div class="row">
	<div class="col-md-8 offset-md-2">
	<div class="card">
	<div class="card-header text-center fs-4"><p>Edit Product</p>
	
	 <th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
						
						<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
	
	</div>
	<div class="card-body">
	<form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
	<input type="hidden" name="id" class="form-control" th:value=${product.id} >
	<div class="mb-3">
	<label>Enter title</label>
	<input type="text" name="title" class="form-control" th:value="${product.title}">
	</div>
	
	<div class="mb-3">
	<label>Enter Description</label>
	<textarea rows="3" col="" class="form-control" name="description" >[[${product.description}]]</textarea>
	</div>
	
	<div class="mb-3 col">
	<label>Category</label>
	<select class="form-control" name="category">
	<option>[[${product.category}]]</option>
	<option th:each="c:${categories}">[[{c.name}]]</option>
	</select>
	</div>
	
	<div class="mb-3">
	<label>Enter price</label>
	<input type="text" name="price" class="form-control" th:value="${product.price}">
	</div>
	<div class="row">
	
	<div class="mb-3">
	<label>Discount</label>
	<input type="number" name="discount" class="form-control" th:value="${product.discount}">
	</div>
	<div class="mb-3">
	<label>Discount price</label>
	<input type="number"  class="form-control" readonly th:value="${product.discountPrice}">
	</div>
	</div>
	
	<div class="mb-3">
									<label>Status</label>

									<div class="form-check">
										<input class="form-check-input" type="radio"
										th:checked="${product.isActive==true}"
											name="isActive" id="exampleRadios1" value="true"
											checked> <label class="form-check-label"
											for="exampleRadios1">Active </label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio"
										th:checked="${product.isActive==false}"
											name="isActive" id="exampleRadios2" value="false">
										<label class="form-check-label" for="exampleRadios2">
											Inactive </label>
									</div>
								</div>
	
	
	<div class="row">
	<div class="mb-3 col">
	<label>Enter stock</label>
	<input type="text" name="stock" class="form-control" th:value="${product.stock}">
	</div>
	
	<div class="mb-3">
	<label>Upload Images</label><input type="file" name="file" class="form-control">
	</div>
	<div class="mt-1">
	<img th:src="@{'/img/product_images/'+${product.image}}" width="70px" height="70px">
	</div>
	
	</div>
	<button class="btn btn-primary col-md-12">Update</button>
	</form>
	
	</div>
	</div>
	</div>
	</div>
	</div>
	
	</section>
</body>
</html>