<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Register here</title>

</head>
<body>
	<section>
		<div class="container text-center mt-5 p-5 ">
			
				<div class="col-md-6 p-5">
					<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-header">
							<p class="fs-4 text-center">Register</p>
							 <th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
						
						<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
						</div>

						<div class="card-body">
						
							<form action="/saveUser" enctype="multipart/form-data" method="post">
							<div class="row">
							<div class="col">
									<label class="form-label">Full Name</label> 
									<input required class="form-control" name="name" type="text">
								</div>
								
								<div class="col">
									<label class="form-label">Phone Number</label> 
									<input required class="form-control" name="mobileNumber" type="text">
								</div>
								</div>
								<div class="row">
								<div class="col">
									<label class="form-label">Email</label> 
									<input required class="form-control" name="email" type="email">
								</div>
                               </div>
                               <div class="row">
								<div class="col">
									<label class="form-label">Address</label> 
									<input required class="form-control" name="address" type="text">
								</div>
								
								<div class="col">
									<label class="form-label">City</label> 
									<input required class="form-control" name="city" type="text">
								</div>
                               </div>
                               
                               <div class="row">
                               <div class="col">
									<label class="form-label">Password</label> 
									<input required class="form-control" name="password" type="password">
								</div>
								
								<div class="col">
									<label class="form-label">Confirm Password</label> 
									<input required class="form-control" name="confirmPassword" type="password">
								</div>
								</div>
								
								<div class="col">
									<label class="form-label">Profile Image</label> 
									<input class="form-control" name="img" type="file">
								</div>
								
								<button type="submit" class="btn bg-primary text-white col-md-12">Register</button>
							</form>
						
						</div>

						<div class="card-footer text-center">
							 have an account?<a href="/login" class="text-decoration-none">Login</a>
							
						
						</div>
					</div>
				</div>

			</div>
		
	</section>
</body>
</html>
